.cps-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://cdn.cellphones.com.vn/media/icon/icons_menubar-11.svg);
  background-repeat: no-repeat;
  background-size: 1000px;
}